%li.exam-item
  %p
    %strong= question.prompt

  %ul
    - if question.true_false?
      %li True
      %li False
    - elsif question.multiple_choice?
      %li
        A.
        = question.option_a
      %li
        B.
        = question.option_b
      %li
        C.
        = question.option_c
      %li
        D.
        = question.option_d
    - elsif question.matching_question?
      %li
        A.
        = question.moption_a
      %li
        B.
        = question.moption_b
      %li
        C.
        = question.moption_c
      %li
        D.
        = question.moption_d
      %br/
      %li
        Choice A:
        = question.choicea
      %li
        Choice B:
        = question.choiceb
      %li
        Choice C:
        = question.choicec
      %li
        Choice D:
        = question.choiced
